{% extends "loyout.html" %}

{% block body %}
<h3> Hakkımızda <h3>
<hr>
Beyza Betül ERSİN 
<br>
1997 yılında Balıkesir’de doğdu. İlk, orta ve lise öğrenimini Balıkesir’de tamamladı. 2016 yılında girdiği Kocaeli Mühendislik Fakültesi Bilgisayar Mühendisliği Bölümü’nden 2020 yılında Bilgisayar Mühendisi olarak mezun olacak.
<br><br><br>
Ümmügülsüm TABAN 
<br>
1997 yılında Trabzon’da doğdu. İlk, orta ve lise öğrenimini Trabzon’da tamamladı. 2016 yılında girdiği Kocaeli Mühendislik Fakültesi Bilgisayar Mühendisliği Bölümü’nden 2020 yılında Bilgisayar Mühendisi olarak mezun olacak.
<br>
<hr>
{% endblock  %}